a:link, a:visited, a:active {
  text-decoration:none;
}
a{
  color:white;
  text-shadow:black;
  
}

.App {
  text-align: center;

}
.App-initial{
  background-color:white;
  min-height: 55vh;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  background-color:black;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.Botones{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  }

.App-img {
  /* display: flex; */
  width:90%;
}

.App-link {
  color: #61dafb;
}

.headerUsuario{
  background-color:black;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
} 

.imgTop{
   /* display: flex; */
  
}
.Dialog{
  background-color:grey;
}
.Barra1{
  background-color:white;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  /* border: 1px solid grey; */
  /* border-radius: 10px; */
}

/* .BotonInicio {

} */
.FooterInitial{
  display: flex;
  /* flex-direction: bottom; */
  align-items: bottom;
  justify-content: center;
  padding-top: 54px;
}